
.top-div {
    border: solid;
    border-width: 1px;
    border-color: rgb(177, 176, 176);
    background-color:  #9FFFCB;
    border-radius: 25px;
    height: 300px;
    margin-top: 10px;
    margin-left: -160px;
}

.profile-pic {
    border-radius: 50%;
    border: solid;
    border-width: 1px;
    border-color: rgb(177, 176, 176);
    margin-top: 4px;
    margin-left: 40px;
    width: 290px;
    height: 290px;
}

