.container {
    margin-left: 250px
}

/* Input Row  */

.input-form {
    margin: 20px;
    text-align: center;
    border-style: solid;
    border-radius: 25px;
    border-width: 2px;
    border-color: grey;
    color: darkgray;
    margin-top: 80px;
    margin-left: -50px;
    width: 300px;
}

.input-title {
    margin: 10px 0px;
}

.submit-btn {
    margin: 20px;
    border-style: solid;
    border-radius: 25px;
    border-width: 2px;
}

/* Display Row */

.display-row {
    display: flex;
    display: inline-block;
}

.display {
    text-align: center;
    color: grey;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-radius: 25px;
    border-width: 2px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 100px
}

img {
    width: 120px;
    height: 120px;
}