
.login-form {
    background-color: white;
    height: 350px;
    width: 370px;
    margin-top: 100px;
    text-align: center;
    border-radius: 6px;
    margin-left: 10px;
}

.email-input {
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: #DAE0E6;
}

.password-input {
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    margin-bottom: 10px;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: #DAE0E6;
}

.login-btn {
    background-color:#76d6a1;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    font-weight: bold;
    width: 332px;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 20px;
    color: white;
}

.login-btn:hover {
    background-color: #5da57d;
    transition-duration: .3;
    cursor: pointer;
}

.forgot-password-link {
    color: #76d6a1;
}

.forgot-password-link:hover {
    color: #76d6a1;
}


.login-form-line {
    border-top: 1px solid #afb1b3;
    margin-top: 15px;
    margin-bottom: 20px; 
    width: 330px;
    margin-left: 20px;
}

.create-account-btn {
    background-color: #b65fdb;
    border: none;
    border-radius: 6px;
    line-height: 48px;
    padding: 0 16px;
    font-weight: bold;
    margin-left: 0px;
    margin-bottom: 20px;
    color: white;
}

.create-account-btn:hover {
    background-color:  #904aad;
    transition-duration: .3;
    cursor: pointer;
}
